<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"  /> 
    <title>Portfolio</title>
</head>
<body>
  <div class="header">
    <img th:src="@{/Untitled.png}" alt="Ul logo">
    Portfolio Submission Portal
  </div>
  <div class="container">
    <div>
      <div th:if="${errors}">
        <div class="error" role="alert">
          <ul>
            <li th:each="error : ${errors}" th:text="${error}"></li>
          </ul>
        </div>
      </div>
      <h1>Submit portfolio here</h1>
      
      
      <form
        id="uploadForm"
        method="post"
        th:action="@{/upload}"
        enctype="multipart/form-data">
        <span>CAO Number</span>
        <input id="cao-name" type="text" name="CAO" /> <br>
        <input id="input-file" type="file" name="file" /> <br>
        
      

        <button type="submit">
          Upload
        </button>
      </form>
        </button>
      </div>
      </div>
    </div>
    <div class="footer">
      Art Ó Liatháin, Daniel Kennedy, John Foley
    </div>
</body>
</html>